.procedure-panel {
	border-radius: var(--lwc-borderRadiusMedium);
}

.procedure-panel.details {
	width: 14rem;
}

.procedure-panel header {
	background-color: var(--lwc-brandDisabled);
	border-radius: var(--lwc-borderRadiusMedium);
}

.procedure-panel .complete {
	background-color: var(--lwc-brandPrimary);
}

.procedure-panel .inProgress {
	background-color: var(--lwc-brandAccessibleActive);
}

.procedure-panel .isSelected {
	outline: .20rem var(--slds-g-color-brand-base-10) solid;
}

.procedure-panel header .procedureField {
	--slds-g-color-neutral-base-30: var(--slds-g-color-neutral-base-100);
	--lwc-colorTextLabel: var(--slds-g-color-neutral-base-100);
}

.procedure-panel .prod header.complete .procedureField {
	--slds-c-input-text-color: var(--slds-g-color-neutral-base-100);
	--slds-g-color-neutral-base-30: transparent;
	--lwc-colorTextLabel: transparent;
}

.procedure-panel:after {
	z-index: inherit !important;
}

.delete-panel {
	top: 0;
	right: 0;
	bottom: 0;
	min-width: 0;
}

.status-panel {
	width: 11rem;
}

.status-panel .status-panel-item lightning-button {
	--lwc-lineHeightButton: 1.5rem;
}