.small-input {
	max-width: 70px;
}

.medium-input {
	max-width: 120px;
}

.row {
	padding-right: calc(120px + var(--lwc-spacingXSmall,0.5rem)) !important;
	min-height: 102px;
}

.row-total {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 120px;
}

.panel-container {
	position: absolute;
	left: 80px;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.panel-container:before {
	content: " ";
	position: absolute;
	left: -80px;
	right: 100%;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.2);
}