.anchor-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.anchor-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.anchor-all {
	position: absolute;
	top: 76px;
	left: 0;
	bottom: 58px;
	right: 0;
}